=semantic_form_for @user do |form|
  =form.inputs do
    =form.input :first_name
    =form.input :last_name
    =form.input :email
    -if @user.new_record?
      =form.input :role, :label => 'Admin?', :as => :boolean, :checked_value => 'admin', :unchecked_value => ''
      =form.input :password
    -else
      =form.input :bio, :input_html => {:rows => 5, :class => 'span4'}
      =form.input :image, :as => :image
  =hidden_field_tag :return_to, params[:return_to] if params[:return_to]
  =form.actions do
    =form.action :submit, :label => 'Save'