-semantic_form_for(user, :multipart => true) do |form|
  -form.inputs do
    =form.input :first_name
    =form.input :last_name
    =form.input :email
    =form.input :retained_image, :as => :hidden
    =form.input :image, :as => :file
  -form.buttons do
    =form.commit_button "Save"
  