%table.table.table-striped.table-users
  %tbody
    -users.each do |user|
      %tr{:'data-toggle'=>"modal", :href=>"##{tab}-user-#{user.id}"}
        %td=name_and_role(user)
        %td
          %i.icon-info-sign
      .modal.hide.fade{:id => "#{tab}-user-#{user.id}"}
        .modal-header
          %button.close{:type => 'button', :'data-dismiss' => 'modal'} x
          %h3=name_and_role(user)
        .modal-body
          %dl
            %dt Email
            %dd.mb-1=user.email
            -user.attributes.except('id', 'first_name', 'last_name', 'email', 'role', 'encrypted_password', 'reset_password_token', 'reset_password_sent_at', 'remember_created_at', 'current_sign_in_at', 'last_sign_in_at', 'current_sign_in_ip', 'last_sign_in_ip', 'image_uid', 'created_at', 'updated_at').each do |label, value|
              %dt=label.humanize
              %dd.mb-1=value
        .modal-footer
          =link_to "Delete user", user_path(user), :method => :delete, :class => 'btn btn-danger pull-left', :confirm => "Are you sure?"
          =link_to('Close', '#', :class => 'btn', :"data-dismiss" => 'modal', :"aria-hidden" => true)
