.row
  .span5
    %h2 Forgot your password?
  .span8
    =semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post}) do |form|
      =form.inputs do
        =form.input :email
      =form.actions do
        =form.action :submit, :label => 'Send me reset password instructions', :button_html => {:class => 'btn btn-primary'}
  .span8
    =render('devise/shared/links')